/* 全局初始化 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

input:focus {
	outline: none;
}
/* 公共样式 */
h3{
	font-size: 26px;
	font-weight: 500;
	color: #000;
}
/* 公共类,谁用谁调用 */
.p1{
	color: #000;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.p2{
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
	margin-top: 6px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	display: none;
}

.dask .broadcast {
	width: 50px;
	height: 50px;
	background: url(../image/icon_play_white.png);
	background-size: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.item{
	width: 70px;
	height: 24px;
	border-radius: 12px;
	background: red;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	justify-content: center;
	align-items: center;
	background: rgba(75, 84, 91, 0.3);
	backdrop-filter: saturate(180%) blur(6px);
}
.item_img{
	width: 12px;
	height: 12px;
	background: url(../image/icon_play_white.png);
	background-size: 100%;
}

/* 点击事件样式 */
.banner_top .active {
	background: #00A9FF;
	border-radius: 17px;
	color: #fff;
	font-weight: 700;
}

/* 头部 */
.header {
	height: 80px;
	background-color: #00A9FF;
}

.header-bd {
	width: 1000px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	/* background-color: pink; */
}

.header_left {
	width: 466px;
	height: 38px;
	display: flex;
	margin-top: 21px;
	align-items: center;
	position: relative;
}

.header_left a {
	width: 186px;
	height: 38px;
}

.header_left a img {
	width: 146px;
	height: 38px;
	display: block;
	margin-right: 40px;
}

.header_left div {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 201px;
	background: url(../image/icon_search_white.png) no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.header_left input {
	width: 280px;
	height: 30px;
	border-radius: 15px;
	outline: none;
	border: none;
	background: rgb(77, 194, 255);
	padding: 0 15px 0 45px;
	color: #fff;
}

.header_right ul {
	width: 491px;
	height: 80px;
	font-size: 14px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.header_right ul li:last-child {
	width: 155px;
	height: 30px;
	display: flex;
}

.header_right ul li:last-child:hover {
	background: #00A9FF;
	border-radius: 17px;
}

.header_right ul li a {
	color: rgba(255, 255, 255, 0.9);
}

.header_right ul li a:hover {
	color: rgba(255, 255, 255, 1);
}

.header_right ul li:last-child span {
	width: 1px;
	height: 16px;
	margin-top: 7px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.5);
}

.header_right ul li:last-child div {
	width: 90px;
	height: 30px;
	line-height: 30px;
	border-radius: 15px;
	margin: 0 32px;
	background: #fff;
	text-align: center;
	color: #00A9FF;
	display: inline-block;
	cursor: pointer;
}

/* banner部分的上导航条 */
.banner {
	width: 100%;
	height: 560px;
	position: relative;
}

.banner_top {
	width: 100%;
	height: 60px;
	position: absolute;
	background: rgba(0, 169, 255, 0.04);
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6));
	z-index: 10;
}

.banner_top>ul {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.banner_top>ul>li {
	flex-grow: .2;
}

.banner_top>ul>li a {
	display: block;
	width: 94px;
	height: 34px;
	line-height: 34px;
	color: #000;
}

.banner_top>ul>li:hover>.active {
	color: #fff;
}

.banner_top>ul>li:hover>a {
	color: #00A9FF;
}

.banner_top .banner_more {
	position: relative;
}

.banner .banner_more>a span {
	position: absolute;
	left: 22px;
}

.banner .banner_more a i {
	width: 18px;
	height: 18px;
	background: url(../image/icon_arrow_down_black.png);
	background-size: 100%;
	position: absolute;
	left: 55px;
	top: 7px;
}

.banner .banner_more:hover a i {
	background: url(../image/icon_arrow_down_white.png);
	background-size: 100%;
	transform: rotateZ(180deg);
}

.banner_top .banner_more ul {
	width: 108px;
	height: 210px;
	position: absolute;
	background: #fff;
	border-radius: 7px;
	padding: 15px 0;
	top: 51px;
	left: -7px;
	display: none;
}

.banner_top .banner_more ul li a {
	width: 108px;
	height: 36px;
}

.banner_top .banner_more ul li a:hover {
	color: #00A9FF;

}

.banner_top .banner_more ul::before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: -24px;
	right: 34px;
	border: 20px solid transparent;
	border-bottom: 20px solid #fff;
}

.banner_top .banner_more:hover>a {
	background: #00A9FF;
	border-radius: 17px;
	color: #fff;
}

.banner_top .banner_more:hover ul {
	display: block;
}

/* banner部分轮播图 */
.banner_img {
	width: 100%;
	height: 560px;
	overflow: hidden;
}

.banner_img a {
	width: 100%;
	height: 560px;
	display: block;
	background-size: 100% 560px;
	position: absolute;
}

.banner_img .a1 {
	/* background: url(../image/banner.jpg) no-repeat center; */
}

.banner_img .a2 {
	background: url(../image/banner1.jpg) no-repeat center;
}

/* banner部分下导航条 */
.banner_bottom {
	width: 100%;
	height: 60px;
	position: absolute;
	background: rgba(255, 255, 255, .5);
	bottom: 0;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner_bottom a {
	width: 260px;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.5);
	text-shadow: 0px 1px 24px rgb(0 0 0 / 16%);
	display: flex;
	justify-content: center;
}

.banner_bottom a:hover {
	color: #000;
}

.banner_bottom a:nth-child(1) span {
	width: 46px;
	height: 46px;
	margin-right: 5px;
	background: url(../image/icon_download_pc_gray.png);
	background-size: 100%;
}

.banner_bottom a:nth-child(1):hover span {
	background: url(../image/icon_download_pc_black.png);
	background-size: 100%;
}

.banner_bottom a:nth-child(2) span {
	width: 46px;
	height: 46px;
	margin-right: 5px;
	background: url(../image/icon_download_iphone_gray.png);
	background-size: 100%;
}

.banner_bottom a:nth-child(2):hover span {
	background: url(../image/icon_download_iphone_black.png);
	background-size: 100%;
}

.banner_bottom a:nth-child(3) span {
	width: 46px;
	height: 46px;
	margin-right: 5px;
	background: url(../image/icon_download_android_gray.png);
	background-size: 100%;
}

.banner_bottom a:nth-child(3):hover span {
	background: url(../image/icon_download_android_black.png);
	background-size: 100%;
}

.banner_bottom .line {
	height: 18px;
	margin-top: 10px;
	border-right: 1px solid transparent;
}

/* content部分 */
.content {
	width: 1000px;
	margin: 0 auto;
}
/* homed_d1部分 */
.homed_d1 {
	width: 1000px;
	height: 492px;
	display: flex;
	justify-content: space-between;
}

.homed_d1 .homed_d1_left {
	width: 640px;
	height: 492px;
}

.homed_d1_left .top {
	width: 640px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 0 20px;
}

.homed_d1_left .top a {
	font-size: 14px;
	font-weight: 400;
	color: #858585;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
	padding-right: 19px;
}

.homed_d1_left .top a:hover {
	color: #00A9FF;
	background: url(../image/icon_arrow_right_blue.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
}

.homed_d1_left .bottom {
	width: 640px;
	height: 362px;
	display: flex;
	justify-content: space-between;
}

.homed_d1_left .bottom .bottom_left {
	width: 320px;
	height: 362px;
	position: relative;
}

.homed_d1_left .bottom .bottom_left a:first-child {
	display: block;
	width: 320px;
	height: 320px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}
.homed_d1_left .bottom .bottom_left a:hover .dask{
	display: block;
}
.homed_d1_left .bottom .bottom_left a:hover img{
	transform: scale(1.05);
}
.homed_d1_left .bottom .bottom_left a img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}
.homed_d1_left .bottom .bottom_left a:last-child{
	height: 40px;
	font-size: 14px;
	color: #000;
	display: block;
	margin-top: 6px;
	font-weight: 400;
}
.homed_d1_left .bottom .bottom_right{
	width: 290px;
	height: 362px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.homed_d1_left .bottom .bottom_right>div{
	width: 130px;
	height: 176px;
}
.homed_d1_left .bottom .bottom_right>div a:first-child{
	width: 130px;
	height: 130px;
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}
.homed_d1_left .bottom .bottom_right>div a:first-child:hover .dask{
	display: block;
}
.homed_d1_left .bottom .bottom_right>div a:first-child img{
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}
.homed_d1_left .bottom .bottom_right>div a:last-child{
	width: 130px;
	height: 40px;
	display: block;
	margin-top: 6px;
	font-size: 14px;
	color: #000;
}

.homed_d1_left .bottom .bottom_right>div a:hover img{
	transform: scale(1.05);
}
.homed_d1 .homed_d1_right {
	width: 320px;
	height: 492px;
}
.homed_d1 .homed_d1_right .top{
	width: 320px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 0 20px;
}
.homed_d1 .homed_d1_right .top a{
	font-size: 14px;
	font-weight: 400;
	color: #858585;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
	padding-right: 19px;
}
.homed_d1 .homed_d1_right .top a:hover{
	color: #00A9FF;
	background: url(../image/icon_arrow_right_blue.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
}
.homed_d1 .homed_d1_right .bottom a{
	width: 320px;
	height: 110px;
	border-radius: 8px;
	display: flex;
	background: rgba(177, 179, 185, 0.04);
}
.homed_d1 .homed_d1_right .bottom .a1{
	margin-top: 16px;
}
.homed_d1 .homed_d1_right .bottom a>div{
	width: 110px;
	height: 110px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}
.homed_d1 .homed_d1_right .bottom a div img{
	width: 110px;
	height: 110px;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}

.homed_d1 .homed_d1_right .bottom a>div:hover .dask{
	display: block;
}
.homed_d1 .homed_d1_right .bottom a>div:hover img{
	transform: scale(1.05);
}
.homed_d1 .homed_d1_right .bottom a ul{
	width: 186px;
	height: 110px;
	font-size: 14px;
	color: #000;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	margin-left: 24px;
	padding-right: 12px;
}
.homed_d1 .homed_d1_right .bottom a ul li{
	width: 174px;
	margin-top: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.homed_d1 .homed_d1_right .bottom a ul li span:last-child{
	margin-left: 3px;
}
/* homed_d2部分 */
.homed_d2{
	width: 1000px;
	height: 504px;
	display: flex;
	justify-content: space-between;
}
.homed_d2 .homed_d2_left{
	width: 660px;
	height: 504px;
}
.homed_d2 .homed_d2_left .top{
	width: 660px;
	height: 50px;
	margin: 60px 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.homed_d2 .homed_d2_left .top .top_left{
	display: flex;
	align-items: center;
}
.homed_d2 .homed_d2_left .top .top_left ul{
	width: 312px;
	height: 24px;
	display: flex;
	margin: 4px 0 0 50px;
}
.homed_d2 .homed_d2_left .top .top_left ul li{
	width: 64px;
	height: 24px;
	margin-right: 14px;
	padding: 0 8px 0 12px;
	border-radius: 12px;
	font-size: 14px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.homed_d2 .homed_d2_left .top .top_left ul li:hover{
	background: rgba(0, 169, 255, 0.1);
	color: #00A9FF;
}
.homed_d2 .homed_d2_left .top .top_left ul li:hover span{
	display: block;
}
.homed_d2 .homed_d2_left .top .top_left ul li span{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url(../image/icon_play_little_blue.png) no-repeat;
	background-size: 100%;
	margin: 2px 0 0 1px;
	display: none;
}
.homed_d2 .homed_d2_left .top .top_right{
	display: flex;
	align-items: center;
	margin-right: 22px;
	font-size: 13px;
}
.homed_d2 .homed_d2_left .top .top_right span:first-child{
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 0 4px;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 100%;
	transform: rotate(180deg);
	opacity: .5;
}
.homed_d2 .homed_d2_left .top .top_right span:last-child{
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 0 4px;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 100%;
}
.homed_d2 .homed_d2_left .top .top_right span:last-child:hover{
	background: url(../image/icon_arrow_right_blue.png) no-repeat;
	background-size: 100%;
}
.homed_d2 .homed_d2_left .bottom{
	width: 660px;
	height: 374px;
}
.homed_d2 .homed_d2_left .bottom ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.homed_d2 .homed_d2_left .bottom ul li{
	width: 330px;
	height: 62px;
}
.homed_d2 .homed_d2_left .bottom ul li a{
	width: 320px;
	height: 62px;
	font-size: 16px;
	padding-right: 16px;
	display: flex;
	align-items: center;
}
.homed_d2 .homed_d2_left .bottom ul li a:hover div p{
	color: #00A9FF;
}
.homed_d2 .homed_d2_left .bottom ul li div:first-child{
	width: 62px;
	height: 62px;
	border-radius: 8px;
	overflow: hidden;
}
.homed_d2 .homed_d2_left .bottom ul li div img{
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}
.homed_d2 .homed_d2_left .bottom ul li a:hover{
	background: rgba(0, 169, 255, 0.02);
}
.homed_d2 .homed_d2_left .bottom ul li a:hover img{
	transform: scale(1.05);
}
.homed_d2 .homed_d2_left .bottom ul li div:nth-child(2){
	width: 172px;
	margin-left: 14px;
}

.homed_d2 .homed_d2_left .bottom ul li div:last-child{
	width: 56px;
	height: 24px;
	display: flex;
	align-items: center;
}
.homed_d2_left .bottom ul li div:last-child .sp1{
	width: 24px;
	height: 24px;
	background: url(../image/icon_play_style2_black.png);
	background-size: 100%;
}
.homed_d2_left .bottom ul li div:last-child .sp1:hover{
	background: url(../image/icon_play_style2_blue.png);
	background-size: 100%;
}
.homed_d2_left .bottom ul li div:last-child .sp2{
	width: 24px;
	height: 24px;
	background: url(../image/icon_download_style2_black.png);
	background-size: 100%;
	margin-left: 8px;
}
.homed_d2_left .bottom ul li div:last-child .sp2:hover{
	background: url(../image/icon_download_style2_blue.png);
	background-size: 100%;
}
.homed_d2 .homed_d2_right{
	width: 320px;
	height: 504px;
}
.homed_d2 .homed_d2_right .top{
	width: 320px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 0 20px;
}
.homed_d2 .homed_d2_right .top a{
	font-size: 14px;
	font-weight: 400;
	color: #858585;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
	padding-right: 19px;
}
.homed_d2 .homed_d2_right .top a:hover{
	color: #00A9FF;
	background: url(../image/icon_arrow_right_blue.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
}
.homed_d2 .homed_d2_right .middle{
	width: 320px;
	height: 226px;
}
.homed_d2 .homed_d2_right .middle a:first-child{
	display: block;
	width: 320px;
	height: 180px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}
.homed_d2 .homed_d2_right .middle a:first-child img{
	width: 100%;
	height: 100%;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}
.homed_d2 .homed_d2_right .middle a:first-child:hover img{
	transform: scale(1.05);
}
.homed_d2 .homed_d2_right .middle a:first-child:hover .dask{
	display: block;
}
.homed_d2 .homed_d2_right .middle a:last-child{
	display: block;
	width: 320px;
	height: 40px;
	margin-top: 6px;
}
.homed_d2 .homed_d2_right .middle a:last-child .p2{
	margin-top: 2px;
}
.homed_d2 .homed_d2_right .bottom{
	width: 320px;
	height: 130px;
	margin-top: 14px;
	display: flex;
	justify-content: space-between;
}
.homed_d2 .homed_d2_right .bottom>div{
	width: 150px;
	height: 130px;
}
.homed_d2 .homed_d2_right .bottom div a:first-child{
	display: block;
	width: 150px;
	height: 84px;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}
.homed_d2 .homed_d2_right .bottom div a:first-child:hover .dask{
	display: block;
}
.homed_d2 .homed_d2_right .bottom div a:first-child img{
	width: 100%;
	height: 100%;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}
.homed_d2 .homed_d2_right .bottom div a:first-child:hover img{
	transform: scale(1.05);
}
.homed_d2 .homed_d2_right .bottom div a:last-child{
	display: block;
	margin-top: 6px;
}
.homed_d2 .homed_d2_right .bottom div a:last-child .p2{
	margin-top: 2px;
}

/* homed_d3部分 */
.homed_d3{
	width: 1000px;
	height: 288px;
}
.homed_d3 .top{
	width: 1000px;
	height: 50px;
	margin: 60px 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.homed_d3 .top .left{
	display: flex;
}
.homed_d3 .top .left ul{
	width: 378px;
	height: 24px;
	display: flex;
	margin-left: 50px;
	margin-top: 4px;
}
.homed_d3 .top .left ul li{
	width: 52px;
	height: 24px;
	font-size: 14px;
	display: flex;
	align-items: center;
	margin: 0 14px 0 12px;
	padding: 0 12px;
	border-radius: 12px;
	cursor: pointer;
}
.homed_d3 .top .left ul li:hover{
	background: rgba(0, 169, 255, 0.1);
	color: #00A9FF;
}
.homed_d3 .top .left ul li:first-child{
	margin-left: 0;
}
.homed_d3 .top a{
	font-size: 14px;
	font-weight: 400;
	color: #858585;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
	padding-right: 19px;
}
.homed_d3 .top a:hover {
	color: #00A9FF;
	background: url(../image/icon_arrow_right_blue.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
}
.homed_d3 .bottom{
	width: 1000px;
	height: 218px;
}
.homed_d3 .bottom ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.homed_d3 .bottom ul li{
	width: 330px;
	height: 62px;
}
.homed_d3 .bottom ul li a{
	width: 320px;
	height: 62px;
	font-size: 16px;
	padding-right: 16px;
	display: flex;
	align-items: center;
}
.homed_d3 .bottom ul li a:hover div p{
	color: #00A9FF;
}
.homed_d3 .bottom ul li div:first-child{
	width: 62px;
	height: 62px;
	border-radius: 8px;
	overflow: hidden;
}
.homed_d3 .bottom ul li div img{
	width: 100%;
	height: 100%;
	border-radius: 8px;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}
.homed_d3 .bottom ul li a:hover{
	background: rgba(0, 169, 255, 0.02);
}
.homed_d3 .bottom ul li a:hover img{
	transform: scale(1.05);
}
.homed_d3 .bottom ul li div:nth-child(2){
	width: 150px;
	margin-left: 14px;
}

.homed_d3 .bottom ul li div:last-child{
	height: 24px;
	display: flex;
	justify-content: end;
	align-items: center;
	flex-grow: 1;
}
.homed_d3 .bottom ul .sp1{
	width: 12px;
	height: 12px;
	background: url(../image/icon_play_style2_black.png);
	background-size: 100%;
}
.homed_d3 .bottom ul li:hover .sp1{
	background: url(../image/icon_play_style2_blue.png);
	background-size: 100%;
}
.homed_d3 .bottom ul .sp2{
	font-size: 12px;
	color: #000;
	white-space: nowrap;
}
.homed_d3 .bottom ul li:hover .sp2{
	color: #00A9FF;
}
/* homed_d4部分 */
.homed_d4{
	width: 1000px;
	height: 266px;
}
.homed_d4 .top{
	width: 1000px;
	height: 50px;
	margin: 60px 0 20px;
	display: flex;
	align-items: center;
}
.homed_d4 .bottom{
	width: 1000px;
	height: 196px;
	display: flex;
	justify-content: space-between;
}
.homed_d4 .bottom>div{
	width: 150px;
	height: 196px;
}
.homed_d4 .bottom div a:first-child{
	width: 150px;
	height: 150px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	display: block;
}
.homed_d4 .bottom div a:first-child img{
	width: 100%;
	height: 100%;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}
.homed_d4 .bottom div:hover img{
	transform: scale(1.05);
}
.homed_d4 .bottom div a:first-child:hover .dask{
	display: block;
}
.homed_d4 .bottom div a:last-child{
	width: 150px;
	height: 40px;
	display: block;
	color: #000;
	font-size: 14px;
	margin-top: 6px;
}
/* homed_d5部分 */
.homed_d5{
	width: 1000px;
}
.homed_d5 .top{
	width: 1000px;
	height: 50px;
	margin: 60px 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.homed_d5 .top .left{
	display: flex;
}
.homed_d5 .top .left ul{
	width: 378px;
	height: 24px;
	display: flex;
	margin-left: 50px;
	margin-top: 4px;
}
.homed_d5 .top .left ul li{
	width: 52px;
	height: 24px;
	font-size: 14px;
	display: flex;
	align-items: center;
	margin: 0 14px 0 12px;
	padding: 0 12px;
	border-radius: 12px;
	cursor: pointer;
}
.homed_d5 .top .left ul li:hover{
	background: rgba(0, 169, 255, 0.1);
	color: #00A9FF;
}
.homed_d5 .top .left ul li:first-child{
	margin-left: 0;
}
.homed_d5 .top a{
	font-size: 14px;
	font-weight: 400;
	color: #858585;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
	padding-right: 19px;
}
.homed_d5 .top a:hover {
	color: #00A9FF;
	background: url(../image/icon_arrow_right_blue.png) no-repeat;
	background-size: 16px;
	background-position: right 2px;
}
.homed_d5 .bottom{
	width: 1000px;
	display: flex;
	justify-content: space-between;
}
.homed_d5 .bottom div{
	width: 140px;
}
.homed_d5 .bottom div a:first-child{
	width: 140px;
	height: 140px;
	display: block;
	border-radius: 50%;
	overflow: hidden;
}
.homed_d5 .bottom div a:first-child:hover img{
	transform: scale(1.05);
}
.homed_d5 .bottom div a img{
	width: 100%;
	height: 100%;
	transition: all .2s cubic-bezier(0.25, 0.09, 0.25, 1);
}
.homed_d5 .bottom div a:last-child{
	width: 140px;
	font-size: 14px;
	font-weight: 400;
	color: #000;
	display: block;
	text-align: center;
	margin-top: 10px;
}
/* homed_d6部分 */
.homed_d6{
	width: 1000px;
	height: 250px;
}
.homed_d6 .top{
	width: 1000px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 0 20px;
}
.homed_d6 .top .right{
	display: flex;
	align-items: center;
	margin-right: 22px;
	font-size: 13px;
}
.homed_d6 .top .right span:first-child{
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 0 4px;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 100%;
	transform: rotate(180deg);
	opacity: .5;
}
.homed_d6 .top .right span:last-child{
	width: 16px;
	height: 16px;
	cursor: pointer;
	margin: 0 4px;
	background: url(../image/icon_arrow_right_gray.png) no-repeat;
	background-size: 100%;
}
.homed_d6 .top .right span:last-child:hover{
	background: url(../image/icon_arrow_right_blue.png) no-repeat;
	background-size: 100%;
}
/* .homed_d6 .bottom{
	width: 1000px;
	height: 182px;
} */
.homed_d6 .bottom ul{
	width: 1000px;
	height: 182px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: wrap;
}
.homed_d6 .bottom ul li{
	width: 140px;
	height: 50px;
	font-size: 12px;
	background: rgb(177 179 185 / 10%);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.homed_d6 .bottom ul li:hover a{
	color: #00A9FF;
}
/* homed_d7部分 */
.homed_d7{
	width: 1000px;
	height: 186px;
}
.homed_d7 .top{
	width: 1000px;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 60px 0 20px;
}
.homed_d7 .bottom ul{
	width: 1000px;
	height: 116px;
	display: flex;
	justify-content: start;
	align-content: space-between;
	flex-wrap: wrap;
}
.homed_d7 .bottom ul li{
	width: 140px;
	height: 50px;
	font-size: 12px;
	margin-right: 3px;
	background: rgb(177 179 185 / 10%);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.homed_d7 .bottom ul li:nth-child(7){
	margin-right: 0;
}
.homed_d7 .bottom ul li:last-child{
	margin-right: 0;
}
.homed_d7 .bottom ul li:hover a{
	color: #00A9FF;
}

/* footer部分 */
.footer{
	width: 100%;
	height: 386px;
	background: #2C323B;
}
.footer .u1{
	width: 100%;
	height: 186px;
	padding: 40px 0 60px;
	display: flex;
	justify-content: center;
}
.footer .u1 li{
	margin: 0 10px;
}
.footer .u1 li a{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer .u1 li a div{
	width: 70px;
	height: 70px;
	
}
.footer .u1 li a .i1{
	background: url(../image/icon_cmfoot_tme.png);
	background-size: 100%;
}
.footer .u1 li a:hover .i1{
	background: url(../image/icon_cmfoot_tme_blue.png);
	background-size: 100%;
}
.footer .u1 li a .i2{
	background: url(../image/icon_cmfoot_i2.png);
	background-size: 100%;
}
.footer .u1 li a:hover .i2{
	background: url(../image/icon_cmfoot_i2_blue.png);
	background-size: 100%;
}
.footer .u1 li a .i3{
	background: url(../image/icon_cmfoot_i3.png);
	background-size: 100%;
}
.footer .u1 li a:hover .i3{
	background: url(../image/icon_cmfoot_i3_blue.png);
	background-size: 100%;
}
.footer .u1 li a .i4{
	background: url(../image/icon_cmfoot_i4.png);
	background-size: 100%;
}
.footer .u1 li a:hover .i4{
	background: url(../image/icon_cmfoot_i4_blue.png);
	background-size: 100%;
}
.footer .u1 li a .i5{
	background: url(../image/icon_cmfoot_i5.png);
	background-size: 100%;
}
.footer .u1 li a:hover .i5{
	background: url(../image/icon_cmfoot_i5_active.png);
	background-size: 100%;
}
.footer .u1 li a .i6{
	background: url(../image/icon_cmfoot_i6.png);
	background-size: 100%;
}
.footer .u1 li a:hover .i6{
	background: url(../image/icon_cmfoot_i6_active.png);
	background-size: 100%;
}
.footer .u1 li a .i7{
	background: url(../image/icon_cmfoot_i7.png);
	background-size: 100%;
}
.footer .u1 li a:hover .i7{
	background: url(../image/icon_cmfoot_i7_active.png);
	background-size: 100%;
}
.footer .u1 li a .i8{
	background: url(../image/icon_cmfoot_i8.png);
	background-size: 100%;
}
.footer .u1 li a:hover .i8{
	background: url(../image/icon_cmfoot_i8_active.png);
	background-size: 100%;
}
.footer .u1 li a p{
	font-size: 12px;
	color: #b1b3b9;
}
.footer .u1 li a:hover p{
	color: #fff;
}
.footer .u2{
	display: flex;
	justify-content: center;
	font-size: 12px;
	margin-bottom: 16px;
}
.footer .u2 li{
	padding: 0 6px;
}
.footer .u2 a{
	color: #b1b3b9;
}
.footer .u2 a:hover{
	color: #fff;
}
.footer .u2 i{
	height: 12px;
	margin-top: 2px;
	border-left: 1px solid #b1b3b9;
}
.footer .d1{
	display: flex;
	justify-content: center;
	font-size: 12px;
	color: #b1b3b9;
	margin-bottom: 12px;
}
.footer .d1 a{
	color: #b1b3b9;
	margin-right: 12px;
}
.footer .d1 span{
	margin-right: 12px;
}
.footer .d2{
	font-size: 12px;
	color: #b1b3b9;
	margin-bottom: 12px;
	display: flex;
	justify-content: center;
}
.float {
	width: 70px;
	height: 278px;
	border: 1px solid rgba(177, 179, 185, 0.3);
	background-color: #fff;
	position: absolute;
	z-index: 10000;
	border-radius: 8px;
	right: 50px;
	top: 770px;
}
.float>div{
	width: 48px;
	height: 69px;
	margin: 0 10px;
	padding: 10px 0;
}
.float a p{
	font-size: 12px;
	color: #556677;
}
.float a:hover p{
	color: #00A9FF;
}
.float div a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.float .f1 a:hover div:last-child{
	display: block;
}
.float .f1 a div:first-child{
	width: 32px;
	height: 32px;
	background: url(../image/icon_rs_i1.png);
	background-size: 100%;
}
.float .f1 a:hover div:first-child{
	background: url(../image/icon_rs_i1_active.png);
	background-size: 100%;
}
.float .f1 a div:last-child{
	width: 132px;
	height: 158px;
	border: 1px solid rgba(177, 179, 185, 0.3);
	border-radius: 5px;
	background: #fff;
	position: absolute;
	padding: 10px;
	right: 80px;
	top: 0px;
	display: none;
}
.float .f1 a div:last-child img{
	width: 110px;
	height: 110px;
}
.float .f1 a div:last-child span{
	width: 110px;
	height: 16px;
	display: block;
	text-align: center;
	line-height: 16px;
	font-size: 12px;
	margin-top: 10px;
	margin: 0 auto;
}
.float .f2 a div{
	width: 32px;
	height: 32px;
	background: url(../image/icon_rs_i2.png);
	background-size: 100%;
}
.float .f2 a:hover div{
	background: url(../image/icon_rs_i2_active.png);
	background-size: 100%;
}
.float .f3 a div{
	width: 32px;
	height: 32px;
	background: url(../image/icon_rs_i3.png);
	background-size: 100%;
}
.float .f3 a:hover div{
	background: url(../image/icon_rs_i3_active.png);
	background-size: 100%;
}
.float .f4 a div{
	width: 32px;
	height: 32px;
	background: url(../image/icon_rs_i4.png);
	background-size: 100%;
}
.float .f4 a:hover div{
	background: url(../image/icon_rs_i4_active.png);
	background-size: 100%;
}
